/* Headers.module.scss */

.title {
  color: #fff !important;
}

.linkButton {
  color: #fff;
  font-weight: 500;
  transition: all 0.3s;

  &:hover {
    color: #40a9ff; /* цвет при наведении */
    background-color: transparent; /* чтобы не было серого фона */
  }
}

.active {
  color: #1890ff; /* цвет активной ссылки */
}

.header {
  display: flex;
  justify-content: center;
  padding: 0 24px;
  background-color: #001529;
  height: 7vh;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  width: 1200px;
  gap: 205;
}

@media screen and (width < 768px) {
  .header {
    padding: 0 10px;
  }
}

@media screen and (width < 1200px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (width < 1440px) {
  .header {
    padding: 0 60px;
  }
}
