.items {
  display: flex;
  flex-direction: column;
}

.item {
  .count {
    font-size: 26px;
    font-weight: 800;
  }

  .label {
    font-weight: 600;
    color: #444;
  }

  .delta {
    font-size: 16px;
    font-weight: 500;
  }
}

.critical {
  color: #dc3545;
}

.medium {
  color: #ffc107;
}

.low {
  color: #28a745;
}

.deltaPositive {
  color: #28a745;
}

.deltaNegative {
  color: #dc3545;
}
