.sslPage {
  display: flex;
  flex-direction: column;
  min-height: 93vh;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
  width: 100%;

  section {
    padding: 30px;
    margin: 0 auto;
    width: 1250px;

    h2 {
      margin-bottom: 20px;
    }
  }

  .dnsList {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.spin {
  margin-top: 100px;
}

.filters {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
