.emailsPage {
  display: flex;
  flex-direction: column;
  min-height: 93vh;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
  width: 100%;
  section {
    padding: 30px;
    margin: 0 auto;
    width: 1175px;
  }
  h2 {
    margin-bottom: 20px;
  }
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 12px;
}

.loc_name {
  margin-top: 10px;
}
