.profile {
  display: flex;
  flex-direction: column;
  min-height: 93vh;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
  width: 100%;

  section {
    display: flex;
    justify-content: space-evenly;

    padding: 30px;
    margin: 0 auto;
    width: 1175px;
  }
}

.container {
  margin-top: 40px;
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 24px;
}

.tabs {
  width: 400px;
}
