.card {
  display: flex;
  flex-direction: column;
}

.card {
  margin-bottom: 16px;
}

.selectedRow {
  background-color: #e6f7ff !important;
}

.selectedRow :hover {
  background-color: #bae0ff !important;
}

.header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrow {
  font-size: 14px;
  user-select: none;
  margin-left: 8px;
}
